
*
{
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body
{
    background-color: rgb(211, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

#top
{
    border: solid;
    display: flex;
    justify-content: space-around;
    background-color: rgb(209, 136, 1);
    color: rgb(34, 34, 34);
}

h1
{
    font-size: 3vw;
}

#ticket
{
    border: solid;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    align-self: center;
    background-color: rgb(34, 34, 34);
    color: rgb(209, 136, 1);
}

#images
{
    justify-items: center;
}

.rows
{
    display: flex;
}

.cell
{
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 1.3vw;
    width: 6vw;
}

img
{
    width: 3.2vw;
    opacity: 0;
}

h3
{
    color: rgb(209, 136, 1, 0);
}

.model
{
    width: 1.7vw;
    opacity: 1;
}

#rules
{
    font-size: 1.8vw;
}

#cost
{
    font-size: 2vw;
}

#bottom
{
    border: solid;
    display: flex;
    justify-content: space-around;
    background-color: rgb(209, 136, 1);
    color: rgb(34, 34, 34);
}

#winnings
{
    align-self: center;
}

#make-new
{
    border-radius: 3vw;
    padding: 1vw;
    background-color: rgb(34, 34, 34);
    color: rgb(209, 136, 1);
}

#make-new:hover
{
    background-color: slategray;
    color: rgb(34, 34, 34);
}