
*
{
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body
{
    background-color: rgb(211, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

#top
{
    border: solid;
    display: flex;
    justify-content: space-around;
}

h1
{
    font-size: 3vw;
}

#ticket
{
    border: solid;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    align-self: center;
}

#images
{
    justify-items: center;
}

.rows
{
    display: flex;
}

.cell
{
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 1.3vw;
    width: 6vw;
}

img
{
    width: 3.2vw;
    opacity: 0;
}

h3
{
    color: rgba(0, 0, 0, 0);
}

.model
{
    width: 1.7vw;
    opacity: 1;
}

#rules
{
    font-size: 1.8vw;
}

#cost
{
    /*last left off making this id*/
}

#bottom
{
    border: solid;
    display: flex;
    justify-content: space-around;
}

#winnings
{
    align-self: center;
}

#make-new
{
    border-radius: 3vw;
    padding: 1vw;
    background-color: black;
    color: rgb(161, 51, 160);
}

#make-new:hover
{
    color: blue;
    background-color: gold;
}